<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #tab-container table td,
        th {
            padding: 5px;
            text-align: center;
        }

        .formlableGroup {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 10px;
        }
        .formlableGroup input[type="text"]{
            outline: none;
            border: none;
            padding: 5px;
            border-radius: 10px;
            border: 1px solid gray;
            
        }
        .formlableGroup input[type="text"]:focus{
            border: 1px solid black;
        }
         
        .formlableGroup label{
            font-style: italic;
            font-weight: 800;
        }
    </style>
</head>

<body style="padding: 10px;">
    <h1>URL Shortner</h1>

    <% if(locals.id) {%>
    <p>Your short id is <%=id%></p>
    <p>Your short url is <a href="http://127.0.0.1:3000/api/url/<%=id%>">http://127.0.0.1:3000/api/url/<%=id%></a></p>
    <% } %>
    <form action="/api/url" method="post">
        <div class="formlableGroup">
            <label for="url">Enter Original Url</label>
            <input type="text" name="url" id="url" placeholder="https://example.com" />
        </div>
        <div>
            <Button type="submit">Generate Short Url</Button>
        </div>
    </form>

    <div id="tab-container" style="padding: 10px;">

        <% if(locals.urls){ %>
        <table border="1" style="border-collapse: collapse;">
            <tr>
                <th>#</th>
                <th>short id</th>
                <th>url</th>
                <th>redirect</th>
                <th>clicks</th>
            </tr>
            <% urls.forEach((url,idx)=>{%>
            <tr>
                <td><%= idx+1 %></td>
                <td><%= url.shortId %></td>
                <td> <a href="http://127.0.0.1:3000/<%=url.shortId%>">http://127.0.0.1:3000/<%=url.shortId%></a> </td>
                <td><%= url.redirectUrl%></td>
                <td><%= url.visitHistory.length%></td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </div>
</body>

</html>